<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeachsideMobileApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60A7DE731C05337800D85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC41CB0E1983EDFE0050A798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC41CB2F1983EDFF0050A798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
